<div class="wallpaper">
  <div class="container">
    <div class="row">
      <div class="wallpaper-news col-lg-12 col-sm-12">
        <div class="inner-wallpaper text-center">
          <div class="new-letter-section">
            <h4>Contact To Tmart</h4>
            <h1>Join Our NewsLetter</h1>
          </div>
        </div>
        <div class="subscription-input">
          <input
            type="text"
            class="form-control"
            placeholder="Email Address"
            name=""
            id=""
            style="width: 100%; text-align: center"
          />
          <button type="submit" class="btn">
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
