<div class="slide slider-fixed--height--2 bg_white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="slider-content">
          <div class="slider-inner">
            <h4>Welcome To Smart Store</h4>
            <h1>
              Awesome Product
              <span class="text-theme">Collection</span>
            </h1>
            <h3>In 2023</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-product-section></app-product-section>
<app-newletter-section></app-newletter-section>
