<!-- <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name" />
    <div *ngIf="name.invalid && (name.dirty || name.touched)">
      <div *ngIf="name.errors.required">Name is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="categories">Categories</label>
    <input type="text" id="categories" formControlName="categories" />
    <div *ngIf="categories.invalid && (categories.dirty || categories.touched)">
      <div *ngIf="categories.errors.required">Categories are required.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="image">Image</label>
    <input type="file" id="image" formControlName="image" />
  </div>

  <div class="form-group">
    <label for="minimumQuantity">Minimum Quantity</label>
    <input type="text" id="minimumQuantity" formControlName="minimumQuantity" />
    <div
      *ngIf="
        minimumQuantity.invalid &&
        (minimumQuantity.dirty || minimumQuantity.touched)
      "
    >
      <div *ngIf="minimumQuantity.errors.required">
        Minimum Quantity is required.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" id="price" formControlName="price" />
    <div *ngIf="price.invalid && (price.dirty || price.touched)">
      <div *ngIf="price.errors.required">Price is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="discount">Discount</label>
    <input type="text" id="discount" formControlName="discount" />
    <div *ngIf="discount.invalid && (discount.dirty || discount.touched)">
      <div *ngIf="discount.errors.required">Discount is required.</div>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" [disabled]="productForm.invalid">Submit</button>
  </div>
</form> -->
