.wrapper-product {
  width: 100%;
  margin: 30px 0;
}
.inner-wrapper-product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  border: none;
}
.product-details h2 a {
  font-size: 18px;
  text-decoration: none;
  color: #474747;
}
